<%- include('./partials/header.ejs') %>

<main>
    <h1>Hello fellow typist!</h1>
    <h3>Enter your wpm and accuracy!</h3>
    <form action="/user/race" method="POST">
        <input type="text" name="wpm">
        <input type="text" name="acc">
        <button type="submit">Finish Race</button>
    </form>
</main>
<%- include('./partials/footer.ejs') %>