<%- include('./partials/header.ejs') %>

<h1>Here are your statistics!!</h1>

<% stats.forEach((stat) => { %>

<span>--------</span>
<h3>Words per minute: <%= stat.wpm %></h3>
<h3>Accuracy: <%= stat.acc %> </h3>
<span>--------</span>

<%})%>
<%- include('./partials/footer.ejs') %>