<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    <%- include('./partials/links.ejs') %>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Here are your statistics!!</h1>
</body>

</html>