<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    <%- include('./partials/links.ejs') %>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Here are your statistics!!</h1>
    <% stats.forEach((stat) => { %>
    <span>--------</span>
    <h3>Words per minute: <%= stat.wpm %></h3>
    <h3>Accuracy: <%= stat.acc %> </h3>
    <span>--------</span>
    <%})%>
</body>

</html>